import React from 'react';
import classNames from 'classnames';

function {componentName}({ className, children }) {
  return <div className={classNames(className)}>{children}</div>;
}

export default {componentName};
