import React from 'react';
import { StyleSheet, View } from 'react-native';

function {componentName}({ style, ...rest }) {
  return <View style={[styles.root, style]} {...rest} />;
}

const styles = StyleSheet.create({
  root: {},
});

export default {componentName};
